<div style="margin-left:-15px"><%= link_to 'Back', root_path %></div>


<h1>My Profile</h1>
<div class="showProduct">
  <p style="font-size:20px"> 
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p style="font-size:20px">
    <strong>E-mail id:</strong>
    <%= @user.email %>
  </p>
  <p style="font-size:20px">
    <strong>Contact Number:</strong>
    <%= number_to_phone(@user.mobNumber) %>
  </p>
  <p style="font-size:20px">
    <strong>Address:</strong>
    <%= @user.address %>
  </p>
  <% if  @user == current_user %>
    <div class="myCard">
      <div style="display:flex">
        <div style="margin:25px 10px">
        <%= link_to "Update Profile " , edit_profile_path(@user) , class:"btn btn-success a-btn"%>
        </div>
        
        <div style="margin:25px 10px">
        <%= link_to "change password" , edit_user_registration_path , class:"btn btn-success a-btn"%>
        </div>
      </div>
      <div style="margin-top:25px">
      <%= link_to "Delete My Account" , destroy_profile_path(current_user), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger a-btn" %>
      </div>
    </div>
  <% end %>
</div>

<br>
<br>

<h4>Posted Products</h4>
<% if @myProducts.length > 0 %>
<table class="table" style="background-color:azure">
  <thead class="thead-dark"> 
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Product Location</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Sold Out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myProducts.each do |product| %>
        <tr>
            <td><%= link_to product.name  , product%></td>
            <td><%= product.category %></td>
            <%if product.location%>
              <td><%= product.location.city %>,<%= product.location.state %></td>
            <%else%>
              <td style="color:red">location not mentioned</td>
            <% end %>
            <td><%= product.description %></td>
            <td><%= product.price %></td>   
            <% if product.soldOut %>
                <td>Yes</td>    
            <% else %>   
                <td>No</td>  
            <% end %>
          
            <td><%= link_to 'Edit', edit_product_path(product) , class:"btn-sm btn-success a-btn" %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn-sm btn-danger a-btn"%></td>
        </tr>
      
    <% end %>
  </tbody>
</table>
<%else%>
<h4 style="color:red">You have got nothing!!</h4>
<%end%>
<br>
<br>
<h4>Purchased Products</h4>
<% if @purchasedProduct.length >0 %>
<table class="table" style="background-color:azure">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchasedProduct.each do |product| %>
        <tr>
            <td><%= link_to product.name  , product%></td>
            <td><%= product.category %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>   
            <td><%= link_to 'Payment details', product_payment_path(product_id: product.id , id: product.payment) , class:"btn-sm btn-info a-btn"%></td>
        </tr>
      
    <% end %>
  </tbody>
</table>
<%else%>
<h4 style="color:red">You have got nothing!!</h4>
<%end%>







