<div style="margin-left:-15px"><%= link_to 'Back', root_path %></div>


<h1>My Profile</h1>
<div class="showProduct">
  <p style="font-size:20px"> 
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p style="font-size:20px">
    <strong>E-mail id:</strong>
    <%= @user.email %>
  </p>
  <p style="font-size:20px">
    <strong>Contact Number:</strong>
    <%= number_to_phone(@user.mobNumber) %>
  </p>
  <p style="font-size:20px">
    <strong>Address:</strong>
    <%= @user.address %>
  </p>
  <% if  @user == current_user %>
    <div class="myCard">
      <div style="display:flex">
        <div style="margin:25px 10px">
        <%= link_to "Update Profile " , edit_profile_path(@user) , class:"btn btn-success a-btn"%>
        </div>
        
        <div style="margin:25px 10px">
        <%= link_to "change password" , edit_user_registration_path , class:"btn btn-success a-btn"%>
        </div>
      </div>
      <div style="margin-top:25px">
      <%= link_to "Delete My Account" , profile_path(current_user), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger a-btn" %>
      </div>
    </div>
  <% end %>
</div>

<br>
<br>
<button class="btn btn-primary collapsebtn" type="button" data-toggle="collapse" data-target="#favourite-table" aria-expanded="false" aria-controls="favourite-table">
   Favourite Products
</button>
<div class="collapse" id="favourite-table">
  <%= render 'favProducts', favProducts: @favProducts %>
</div>

<h4>Posted Products</h4>
<% if @myProducts.length > 0 %>
  <%= render 'postedProducts', myProducts: @myProducts %>
<%else%>
<h4 style="color:red">You have got nothing!!</h4>
<%end%>
<br>
<br>
<h4>Purchased Products</h4>
<% if @purchasedProduct.length >0 %>
  <%= render 'purchasedProducts', purchasedProduct: @purchasedProduct %>
<% else %>
  <h4 style="color:red">You have got nothing!!</h4>
<%end%>







