<h2>Create New User</h2>

<%= form_with(model: @user , url: ad_create_user_path) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
  
  
    <div class="field" style="width:30%">
      <%= form.label :email %>
      <%= form.email_field  :email , placeholder:"enter email", autocomplete: "new-password", class:"form-control"%>
    </div>
  
    <div class="field" style="width:30%">
      <%= form.label :password %>
      <%= form.password_field :password , placeholder:"enter password", autocomplete: "new-password", class:"form-control" %>
    </div>
  
    <div class="field" style="width:30%">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation , placeholder:"Re-enter password", autocomplete: "new-password" ,class:"form-control"%>
    </div>

    <h6>Details(optional)</h6>

    <div class="field" style="width:30%">
      <%= form.label :name %>
      <%= form.text_field  :name , placeholder:"enter name", autocomplete: "name", class:"form-control"%>
    </div>
    <div class="field" style="width:30%">
      <%= form.label :mobNumber , "Mobile Number" %>
      <%= form.text_field  :mobNumber , placeholder:"enter mobile number", autocomplete: "mobile-number", class:"form-control"%>
    </div>
  
    <div class="field" style="width:30%">
      <%= form.label :address , "Address(city)" %>
      <%= form.text_field  :address , placeholder:"enter address", autocomplete: "mobile-number", class:"form-control"%>
    </div>
  
  
    <div class="actions" style="margin-top:40px">
      <%= form.submit "Create User", class:"btn btn-success " %>
    </div>
  <% end %>
  