<div style="margin-left:-15px"><%= link_to 'Back', root_path %></div>
<div class="myCard">
  <h1>Products </h1>
  <div style="display:flex">
    <div >
      <%=link_to "Export to CSV", products_path(format: "csv") , class: "btn btn-info a-btn"%>
    </div>
    <div  style="margin-left:20px">
      <%= form_tag import_products_path, multipart: true do%>
      <%= file_field_tag :file ,class: "btn btn-info a-btn"%>
      <%= submit_tag "Import CSV" , class: "btn btn-info a-btn"%>
      <% end %>
    </div >
    <div style="float:right; margin-left:20px;"><%= link_to 'New Product', new_product_path , class:"btn btn-success a-btn" %></div>
  </div>
</div>
<table class="table" style="background-color:azure">
  <thead class="thead-dark"> 
    <tr>
        <th scope="col">Product id</th>
        <th scope="col">Name</th>
        <th scope="col">Related Catergories</th>
        <th scope="col">Product location</th>
        <th scope="col">Description</th>
        <th scope="col">price</th>
        <th scope="col">Posted by</th>
        <th scope="col">Posted at</th>
        <th scope="col">Sold Out</th>
        <th scope="col">Bought by</th>
        
        <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name  , product %></td>
            <td>
            <% product.categories.each do |category| %>
              <%= category.category %> <br>
            <% end %>
            </td>
            <%if product.location%>
              <td><%= product.location_city %>,<%= product.location_state %></td>
            <%else%>
              <td style="color:red">location not mentioned</td>            
            <% end %>
            <td><%= product.description %></td>
            <td><%= product.price %></td>  
            <td><%= link_to product.user.name , profile_path(product.user)%></td>  
            <td><%= product.updated_at %></td>  
            <% if product.soldOut %>
                <td>Yes</td>    
            <% else %>   
                <td>No</td>  
            <% end %>
            <% if product.payment %>
              <td><%= link_to product.payment.user.name , profile_path(product.payment.user)%></td>  
            <% else %>
              <td></td>
            <% end %>
            <td><%= link_to 'Edit', edit_product_path(product) , class:"btn-sm btn-success a-btn" %></td>
            <td><%= link_to 'Destroy', product , method: :delete, data: { confirm: 'Are you sure?' } , class:"btn-sm btn-danger a-btn"%></td> 
            
        </tr>
      
    <% end %>
  </tbody>
</table>