<%= link_to 'Back', product_path(session[:prod_id]) %>

<h2>Payment </h2>
<div style="margin-top:20px">
      <p style="font-size:20px">
      <strong>Price: </strong>
      <%= @price %>
      </p>
</div>
<% if @prod.soldOut%>
      <h5 style="color:red">Sorry., Something went wrong.This product is already sold.</h5>
      <p style="color:red">(May be your previous attempt to payment will be succeeded. Check it in your profile.)</p>
      <%else%>
<%= form_with(model: @payment , url: create_payment_path(@prod))  do |form| %>

      <% if @payment.errors.any? %>
            <div id="error_explanation">
                  <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this product from being saved:</h2>

                  <ul>
                  <% @payment.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                  <% end %>
                  </ul>
            </div>
      <% end %>
  
   
    
    <div class="field" style="width:500px">
    <%= form.label :paymentMethod %>
    <%= form.select :paymentMethod, ['Credit card', 'Debit card','Net banking','UPI'] ,{},{ class:"form-control" } %>
    </div>
    
    
    
    <div style="margin-top:40px">
    <%= form.submit "pay" , class:"btn btn-success btnw btnwhite"%>
  </div>
  <% end %>
  <% end %>