<% products.each do |product| %>
    <div class="card w-50">
      <div class="card-body">
        <div class="myCard">
          <div>
            <h5 class="card-title"><strong><%=product.name%></strong></h5>
            <h6 class="card-text"><strong>id: </strong> <%=product.id%></h6>
            <h6 class="card-text"><strong>Brand: </strong> <%=product.brandname%></h6>
            <h6 class="card-text"><strong>Related categories: </strong>
            <% product.categories.each do |category| %>
              <%= category.category %>
            <% end %>
            </h6>
            <h6 class="card-text"><strong>Price: </strong> <%=product.price%></h6>
            <%if product.location%>
                <h6 class="card-text"><strong>Location: </strong> <%=product.location_city%>,<%=product.location_state%></h6>
              <%else%>
                <%= %>              
              <% end %>
            
            <br>
            <%= link_to 'show more' , product ,class:"btn btn-info a-btn" %>
          </div>
          <div>
          <div class="icon">
          <% if product.favProduct(current_user) %>
            <%= link_to icon('fas', 'heart') ,remove_favourites_path(product) ,:method => :post, class: "icon-heart-fav"%>
          <%else%>
            <%= link_to icon('fas', 'heart') ,add_favourites_path(product) ,:method => :post, class: "icon-heart-notfav"%>
          <% end %>
          </div>
          <%= image_tag "for_sale.jpg" , class:"image"%>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
  