
<div class="filterBar">
<%= form_with(url: apply_filter_path)  do |form| %>
    <div class="filterBar">
        <div style="margin-right:20px">
        <div class="field" style="width:400px">
        <%= form.label :category %>
        <%= form.select :category, options_for_select(['All categories','mobiles','laptops','home appliances','vehicles','books','sports equipment','electronics','other gadgets','other'], params[:category]) ,{},{ class:"form-control" } %>
        </div>  
        </div>  
        <div style="margin-right:20px">

        <div class="field" style="width:400px">
        <%= form.label :location %>
        <%= form.select :location, options_for_select(['All Location(city)','chennai','coimbatore','trichy','madurai','kochi','karur'],params[:location]) ,{},{ class:"form-control" } %>
        </div>  
        </div>   
        <div >
            <%= form.submit "Apply Filter" , class:"btn btn-success"%>
        </div>
    </div>
  <% end %>
<div class="removeFilter">
  <%= button_to "Remove Filter", "",  onclick: "history.go(0)" ,class:"btn btn-danger"%> 
  </div>
</div>
