

  <% if current_user.name==nil || current_user.mobNumber==nil  %>
  <h4><%= link_to "Please set up your profile for a better experience" , edit_profile_path%></h4>
<%end%>

  <h3>Products</h3>
  <div style="float:right"><%= link_to 'New Product', new_product_path , class:"newProd"%></div>
<% @products.each do |product| %>
  <% if !product.soldOut %>
  <div class="card w-50">
    <div class="card-body">
      <div class="myCard">
        <div>
          <h5 class="card-title"><strong><%=product.name%></strong></h5>
          <h6 class="card-text"><strong>id: </strong> <%=product.id%></h6>
          <h6 class="card-text"><strong>category: </strong> <%=product.category%></h6>
          <h6 class="card-text"><strong>Price: </strong> <%=product.price%></h6>
          <h6 class="card-text"><strong>Location: </strong> <%=product.location.city%></h6>
          <br>
          <%= link_to "show more" , product , class:"detailsbtn" %>
        </div>
        <div>
        <%= image_tag "for_sale.jpg" , class:"image"%>
        </div>
      </div>
    </div>
  </div>
  <br>
  <% end %>
<% end %>



