

  <% if current_user.name==nil || current_user.mobNumber==nil  %>
  <h4 class="profileAlert">Please set up your profile for a better experience<%= link_to "Update Profile" , edit_profile_path(current_user) , class:"btn btn-light" %></h4>
<%end%>
  <h3>Products</h3>
  <%= render 'filterForm' %>
  <div style="float:right"><%= link_to 'New Product', new_product_path , class:"btn btn-success a-btn"%></div>


 

  <% if !@products.blank? %>
  <%= render 'cardEachItem' , products: @products %>
<% else %>
<div class="emptyItems">
  <%= image_tag "empty_1.svg" , class:"image-lg"%>
  <h3 style="margin-top:20px; color:red">Nothing Found!!</h3>
</div>
<% end %>