<% if @location %>
    <% if @location.errors.any? %>
    <ul>
    <% @location.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <% end %>
  
  
    <div class="field" style="width:30%">
      <%= form.label :city %>
      <%= form.select :city, options_for_select(["select..","chennai", "coimbatore", "trichy", "madurai", "kochi", "karur"],@location.city) ,{},{ class:"form-control" } %>
    </div>
    
    <div class="field" style="width:30%">
      <%= form.label :state %>
      <%= form.select :state, options_for_select(["select..","tamilnadu", "kerala", "karnataka"],@location.state) ,{},{ class:"form-control" } %>
    </div>
    <div class="field" style="width:30%">
      <%= form.label :country %>
      <%= form.select :country, options_for_select(["select..","india", "srilanka"],@location.country) ,{},{ class:"form-control" } %>
    </div>
    <div class="field" style="width:30%">
      <%= form.label :postalCode %>
      <%= form.number_field :postalCode ,  class:"form-control" %>
    </div>
    <div class="actions" style="margin-top:40px">
      <%= form.submit "Set Location", class:"btn btn-success " %>
    </div>
    
     